$icon-dimensions: 1.5rem !default;
$icon-dimensions-small: 1rem !default;
$icon-dimensions-medium: 2rem !default;
$icon-dimensions-large: 3rem !default;

.my-svg-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;

  &.is-small {
    width: $icon-dimensions-small;
  }
  &.is-medium {
    width: $icon-dimensions-medium;
  }
  &.is-large {
    width: $icon-dimensions-large;
  }
}

.my-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */
}

.my-svg-scaling {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
