$vpadding: 10px;
$hpadding: 15px;
$default-padding: $vpadding $hpadding;

$desktop-max-page-width: 960px;

$vspace-small: 10px;
$vspace-normal: 20px;
$vspace-medium: 30px;
$vspace-large: 50px;
$vspace-huge: 80px;
